input {
  background-color: rgb(146, 146, 231);
  border: 1px dotted yellow;    
  color: aliceblue;
}
#dv {    
  border: 2px dotted yellow;
  background-color: black;
}
span{
  position: absolute;
  font-size: 20px;
}
.cls{
  background-color: #000; 
}

body{
  background-color: rgb(249, 198, 198);
}

.name {
  top: 0;
  color: orchid;
  text-align:center;
  Font-size: 30px;
  text-decoration:bold;
  font-family: "Parisienne", cursive;
}

.all{
 
  height:100%;
  background-color:lightcyan;
  margin-left: 150px;
  margin-right: 150px;

}

.content{
  color: rgb(51, 54, 54);
  text-align:center;
  Font-size: 20px;
}