input {
  background-color: rgb(146, 146, 231);
  border: 1px dotted yellow;    
  color: aliceblue;
}
#dv {    
  border: 2px dotted yellow;
  background-color: black;
}
span{
  position: absolute;
  font-size: 20px;
}
.cls{
  background-color: #000; 
}