@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

body{
    background-color: rgb(249, 198, 198);
}

.name {
    top: 0;
    color: orchid;
    text-align:center;
    Font-size: 30px;
    text-decoration:bold;
    font-family: "Parisienne", cursive;
  }

  .all{
   
    height:100%;
    background-color:lightcyan;
    margin-left: 150px;
    margin-right: 150px;

  }

  .content{
    color: rgb(51, 54, 54);
    text-align:center;
    Font-size: 20px;
  }
